@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

@media (max-width: 768px) {

    /* Adjust styles for mobile here */
    .glowing-textbox {
        font-size: 14px;
        /* Example: reduce padding */
        max-width: 70%;
        /* or whatever value you deem fit, e.g. 300px */
        margin: auto;
        /* This will ensure that it stays centered with the given max-width */
    }
}

body,
html {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    margin: 0;
    padding: 0;
    /* overflow: hidden; */

    /*height: 100%;*/
    background-color: #222;
    font-family: Arial, sans-serif;



}



canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.description_link {
    font-size: 16px;
    font-family: 'Quantico', sans-serif;
    padding-top: 10px;
    max-width: 400px;
    text-align: center;
}

.description {
    font-size: 16px;
    font-family: 'Quantico', sans-serif;
    padding-top: 10px;
    max-width: 400px;
    text-align: left;
}

.tagline {
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    padding-top: 10px;
    max-width: 400px;
    text-align: left;
    text-align: center;
}

.glowing-textbox {

    /* take full viewport height */
    margin: 0;
    padding: 0;
    /*
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;

    /* Semi-transparent black */
    color: rgb(27, 27, 27);
    border-radius: 4px;
    box-shadow: 0 0 10px #c4c1bc, 0 0 30px #c4c1bc;

    /* Green glow */
    transition: box-shadow 0.3s ease;
    z-index: 10;

    padding-top: 20px;
}


.glowing-textbox:hover {
    box-shadow: 0 0 20px #c4c1bc, 0 0 40px #c4c1bc;
}

.glowing-textbox:focus {
    outline: none;
}

img {
    width: 200px;
    object-fit: contain;
}